.grid {
  border: 1px solid black;
  height: 180px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;

}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

.log-left,
.log-right {
  background-color: rgb(0, 225, 255);
}

.l1 {
  background-image: url('images/log-left.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.l2 {
  background-image: url('images/log-middle.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.l3 {
  background-image: url('images/log-right.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.car-left {
  border-top: 2px dashed yellow;
}

.c1 {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: lightgrey;
}

.c1.car-right img {
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
  animation-duration: 0.5s;
  animation-name: slide-to-right;
}

@keyframes slide-to-right {
  from {
    right: 15px;
  }

  25% {
    right: 0px;
  }

  to {
    right: -1px;
  }
}

.c1.car-left img {
  position: relative;
  width: 20px;
  height: 20px;
  animation-duration: 2s;
  animation-name: slide-to-left;
}

@keyframes slide-to-left {
  from {
    left: 15px;
  }

  10% {
    left: 0px;
  }

  to {
    left: -5px;
  }
}

.c2,
.c3 {
  background-color: lightgrey;
}


.frog {
  background-image: url('images/nobgFrog.png');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
}

.l1.frog{
  background-image: url('images/nobgFrog.png'), url('images/log-left.png');
  background-size: 14px 14px, 20px 20px;
}
.l2.frog {
  background-image: url('images/nobgFrog.png'), url('images/log-middle.png');
  background-size: 14px 14px, 20px 20px;

}
.l3.frog {
  background-image: url('images/nobgFrog.png'), url('images/log-right.png');
  background-size: 14px 14px, 20px 20px;

}