.grid {
  width: 306px;
  height: 306px;
  display: flex;
  flex-wrap: wrap;
  cursor: crosshair;
}

.square {
  height: 100px;
  width: 100px;
  border: solid black 1px;
  text-align: center;
  z-index: 100;
}

.mole {
  background-color: grey;
  opacity: 50%;
}

.grid span {
  background-image: url("images/hitmarker-noBG.png");
  position: absolute;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  animation: fadeOut 1s linear;
}

.grid span.missed {
  background-image: url("images/missmarker-noBG.png");
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
