.master-grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.master-grid div {
    border: 1px dashed darkblue;
    height: 18px;
    width: 18px;
}

.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: black;
    border-radius: 10px;
}

