.master-grid {
    border: 1px solid blue;
    background-color: blue;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.master-grid div {
    border-radius: 10px;
    background-color: white;
    height: 20px;
    width: 20px;
}

div.player-one {
    background-color: red;
    border-radius: 10px;
}

div.player-two {
    background-color: black;
    border-radius: 10px;
}

div.highlighted-col {
    background-color: grey;
}

